/*@media all and (min-width: 430px){
  .topbarmobile{
    display: none;
  }
  .topbarpc{
    display: block;
  }
}*/


#notifications{
  display: none;
}
@media all and (max-width: 740px){

  #darkenSvc{
      background-color: rgba(0,0,0,0.5);

      position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:4;
  display: none;

  }
  .carousel{
    margin-top: 10px;
  }
  .services-big{
    position: fixed;
    top: 10%;
    width: 80%;
    height: 80%;
    left:10%;
    background-color: white;
    z-index: 4;
    border-radius: 25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    display: none;
    overflow-y: auto;
  }
  #Services{

  display:  grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 10px;
margin-left:  10px;
  }
  .topbarmobile{
    display: unset;
  }
  .fb-page-div{
    display: none;
  }
  .topbarpc{
    display: none;
    position: sticky;
    position: -webkit-sticky;
    top : 0px;
  }
  .top-logo-pc{
    display: none;
  }
    body,html{
        margin: 0;
        padding:0;
    }
    body{
        font-family: 'News Cycle';
    }
    #head-icon{
       display: block;
       margin-left: auto;
       margin-right: auto;
       height: 10%;
    }
    #top-bar{
        position: sticky;
        position: -webkit-sticky;
        top : 0px;
        background-color: #00b4d8;
        color: #caf0f8;
        z-index: 2;
        display: block;
    }
    #top-bar-pc{
      position: sticky;
      position: -webkit-sticky;
      top : 0;
      background-color: #00b4d8;
      color: #caf0f8;
      z-index: 2;
      padding: 10px;
    }
    #top-bar p{
        font-size: 1rem;
        margin: 0;
    }
    #menu-btn{
        font-size:  40px;
        padding-left:5px ;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    #user-pic-bar{
        font-size:  40px;
        padding-right:5px ;
        padding-bottom: 5px;
        padding-top: 5px;
        float: right;
    }
    #side-bar {
        width: 0%;
        height: 100%;
        position : fixed;
        left: 0%;
        top: 0%;
        background-color: white;
        overflow: auto;
        transition: width .5s;
        z-index: 5;
    }
    .tablinks{
        text-decoration: none;
        color: black;
        font-size: 20px;
        display: block;
        width: 100%;
        text-indent: 7px;
        color:#00b4d8;
    }
    .tablinkspc{
        text-decoration: none;
        color: white;
        font-size: 20px;
        width: 100%;
        text-indent: 7px;
    }

    #side-bar-head{
        height: 120px;
        width: 100%;
        background-color: #00b4d8;

    }

    #Services , #Doctors , #Gallery, #Contact_Us, #Appointments, #Admin_Panel, #Profile_Page{
        display: none;
    }
    #profile-picture{
        border-radius: 50%;
        width : 100px;
        height : 100px;
        position: absolute;
        top: 10px;
        left: 10px;


    }
    #darken{
        background-color: rgba(0,0,0,0.5);

        position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:4;
    display: none;

    }
    #profile{
        margin: auto;
        height: auto;
        position: absolute;
    }
        #profile-name{
        font-size: 20px;
        position: relative;
        margin: 0;
        top: 50px;
        margin-left: 120px;
        color: #caf0f8;
    }
    .tabcontent{
        text-indent: 5px;
    }
    .tabcontent h4{
        margin: 0;
    }
    #Home{
      
        background-repeat: no-repeat;
    }
    .no-acc{
        font-size: 20px;
        position: relative;
        margin: 0;
        margin-left: 35%;
        color: #caf0f8;
    }

    #app-btn{
        border-color: #00b4d8;
        border-style: solid;

    }
    #appbtn p{
        text-align: center;
    }
    #appointment-table tr,th{
        border: 1px solid black;
    }

    /* appointment form */
    #appinsert #appformheader{
      background-color: #00b4d8;
      position: relative;
      width: 100%;
      
      padding-top: 5px;
      padding-bottom: 5px;
      position: sticky;
    position: -webkit-sticky;
    top: 0%;
    z-index: 10;

    }
    
    #insertappslider{
      padding:10px;
    }
    .fc .fc-media-screen .fc-direction-ltr .fc-theme-standard{
      height: 500px;
    }
    #appformheader h3{
      text-align: center;
      color: white;
    }
    #appformheadertext{
    font-size: 40px;
    color: white;
    padding: 0;
    margin: 0;
    
    }
    

    #appinsert p{

    }
    #appinsert{
      
        background-color: white;
        z-index: 5;
        
        width: 90%;
        left: 5%;
        position: fixed;
        top: 5%;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        display: none;
        height: 90%;
        background-image: url('https://cdn.discordapp.com/attachments/793749939430621194/932611538529947658/30..png');
        background-attachment: fixed;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 50%;
        /*width: 80%;
        position: fixed;
        z-index: 3;
        left: 20%;
        display: block;*/
    }

    .collapsible {
        background-color: #0077b6;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        width: 90%;
        position: relative;
        margin-left: 5%;
        z-index: 1;
      }

      .content {

        display: none;
        overflow: hidden;
        background-color: #f1f1f1;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 90%;
        margin-left: 5%;
      }
      #appinsert-btn{
        font-size:  40px;
        padding-right:5px ;
        padding-bottom: 5px;
        padding-top: 5px;
        float: right;

      }
      #appinsertbtnpc{
        float: right;

      }

      #closappinsertbtn{
        font-size:  30px;
        padding-right: 10px ;
        padding-bottom: 10px;
        float: right;
        position: relative;
        color: white;

      }
      #UserPanel{
        display: hidden;
      }
      #AppPanel{
        display: hidden;
      }
      .Staff_Btn{
        background-color: #00b4d8;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 49%;
        text-align: center;
        border: none;

        outline: none;
        font-size: 15px;

      }
      .logo{

        text-align:  center;
        margin: 0;
        padding: 0;
        background-color: #00b4d8;

      }
      .logo h1{
        margin: 0;
        padding: 0;
        color: white;
      }
      .Status_Btn{
        text-decoration: none;
        color: white;


        padding: 5px;
        border-radius: 10px;
      }

      #message_container{
        width: 90%;
        height: 90%;
        position: fixed;
        left: 5%;
        top: 5%;
        z-index: 10;
        background-color: white;
        display: none;
        text-indent: 20px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }
      #message_history{
        height: 80%;
        position: relative;
        background-color: white;
        overflow-x: hidden;
        padding: 10px;

      }
      #openmessagesbtn{
        font-size: 40px;
        background-color: #00b4d8;
        padding: 10px;
        border-radius: 57%;
        color: white;
        margin: 0;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);


        z-index: 3;

        cursor: pointer;
      }
      #opencalendarbtn{
        font-size: 40px;
        background-color: #00b4d8;
        padding: 10px;
        border-radius: 57%;
        color: white;
        margin: 0;
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
        z-index: 3;
        cursor: pointer;
      }
      #closemessagesbtn{
        font-size: 30px;
        padding-right: 10px;
        color: white;
        cursor: pointer;
      }
      #menubtns{
        position: fixed;
        height: 10%;
        bottom: 20%;
        z-index: 3;
        right: 5%;
      }

      #closemessagesbtn{
        font-size: 30px;
        padding-right: 10px;
        color: white;
      }
      #message_content{
        width: 70%;
        height: 40px;
        margin: 0px;
      }
      #send_message_btn{
        font-size: 15px;
        height:40px;
        color: #00b4d8;
        background-color: white;
        border: none;
        float: right;
        width: 10%;
        border-radius: 25px;
      }
      #send_message_form{
        margin: 0px;
      }
      #send_type{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        background-color: #00b4d8;
      }
      .Patient_Message{

        background-color:	#00b4d8 ;
        color: white;
        border-radius: 25px;
        width: 60%;
		    margin-left: 40%;
      }
      .Patient_Message p{

        text-indent: 0;

white-space: normal;

      }
      .Staff_Message{

        background-color:	#E5E4E2 ;
        color: black;
        border-radius: 25px;
		width: 60%;

      }
      .Staff_Message p{
        text-indent: 0;
text-align: justify;
white-space: normal;
      }
	  .message-content-name{
      padding-top: 10px;
      padding-left: 10px;
      margin:0;
      margin-bottom: 2px;
      font-weight: bold;
	  }
	  .message-content-body{
      margin-left: 10px;
      margin-right: 10px;
      padding:0px;
      overflow-wrap: break-word;
      margin-bottom: 2px;
	  }
	  .message-content-timestamp{
      padding-bottom: 10px;
      padding-left: 10px;
      margin:0;
      font-weight: bold;
	  }
    #notification-container {
        width: 100%;
        margin: 0 auto;
        box-shadow: 0 0 50px #ccc;
        height: 80%;
        overflow-y: scroll;
    }

    .notif {
        padding: 10px;
        padding-bottom: 30px;
    }

    .notif-desc {
        text-indent: 5px;
    }

    .notif-td {
        font-size: 15px;
        float: right;
    }
    .awards {
      background-color: white;
    }
    .feedbacks {
      position: relative;
      width: 90%;
        padding: 5px;
        border-style: solid;
        border-radius: 20px;
        display: block;
        left:5%;
        margin-bottom: 5px;
    }
    .feedbacks img {
        width: 30%;
        position: relative;
        left:35%;
        border-radius: 50%;
        
        
    }
    .feedbacks p{
      text-align: center;
    }

    .feedback-content {
        text-align: center;
        border-left: solid;
        margin: 10px;
    }
    .award-img {
      width: 100%;
      padding: 20px;
      -moz-user-select: none;
      -webkit-user-select: none;
      user-select: none;
  }
  
  #award-list {
      position: relative;
      width: 80%;
      left: 10%;
      overflow: auto;
      white-space: nowrap;
      cursor: grab;
  }
  .imgViews {
      position: fixed;
width: 90%;
z-index: 20;
top: 50%;
left: 50%;

display: none;
transform: translate(-50%, -50%);
  }
  .branchLocations{
    
    width: 90%;
    position: relative;
    left: 5%;
   
    column-gap: 20px;
    padding:20px;
  }
  .branchImg{
    width: 99%;
  }

  .branch-maps{
  width: 100%;
  }
  .branchLocations div{
    margin-bottom: 10px;
    text-align: center;
  }
  #pqueBranchInfo{
    

  }
  #pqueBranchInfo div{
    
    
  }
  #cupangBranchInfo{
    

  }
  #cupangBranchInfo div{
    
    padding-left: -10px;

  }
  .service-titles-small {
    position: relative;
    top: 90%;
    transform: translateY(-50%);
    background-color: rgb(255 255 255 / 0.44)
}
.service-details-container {
    background-color: white;
    text-align: justify;
    padding: 10px;
    background-color: rgb(255 255 255 / 0.44)
}
#info-container p{
  line-height: 20px;
}
.branch-infos{
  padding-bottom: 30px;
}
#gallery-parent{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 98%;
    position: relative;
    left: 3%;
}
.appointment-info{
  padding: 10px;
}
.insert-slides-btn{
  border-radius: 5px;
  border-style: none;
  background-color: #00b4d8;
  color: white;
  display: inline;
  padding: 5px;
}
.right-btns{
  float: right;
}
.fc .fc-bg-event, .fc .fc-highlight, .fc .fc-non-business, .fc .fc-view-harness-active>.fc-view{
  height: 100%;
}
.fc .fc-toolbar-title{
  font-size: 20px;
  color: black;
}

.fc .fc-toolbar.fc-header-toolbar :nth-child(3){
  display: inherit;
}
#opennotifpc{
  display: none;
  
}
.jgLoading{
  position: relative;          /* where the next element will be automatically positioned */
    display: inline-block;       /* causes element width to shrink to fit content */
    left: 50%;                   /* moves left side of image/element to center of parent element */
    transform: translate(-50%);
}
.msg-txta{
 width: 100%;
}
.image_messages{
  max-width: 80%;
  margin-left: 10%;
  cursor: pointer;
  margin-top: 5;
  margin-bottom: 5;
}
#imagesendlabel{
  font-size: 30;
  color: white;
  cursor: pointer;
  margin-bottom: -100;
}

}


